.nav-item
{
    padding: 10px 10px;
    text-align: center;
            
.mainhead{
    font-family: permaner-marker;
    
}



}
.mainimage{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    object-fit: cover;
}
.carousel-caption {
    padding: 20px;
color: aliceblue;
}
.white-box{
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0, 0, 0,05);
    text-align: center;
}
.white-box h2{
    font-weight: bold;
}
.white-box p{
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    color: #333;
}
.img-box img{ width: 100%;
    height: 254px;
    object-fit: cover;

}
.tex-box{
    background-color: black;
    color:white;
    width: 100%;
    padding: 30px;
    height: 300%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tex-box h3{
font-weight: 60px;
margin-top: 15px;
}
.mnabar{
    text-decoration: none;
    
}



.navlogo{
    color: white;
}



.prosection{background-color: black;
color: white;
padding: 10px;
}
.pro-title{

    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}
.protext{
    font-size: 12ps;
    opacity: 0,9;
    padding:30px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.promycimg{
    width: 600px;
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}
.mainbaar2{
    background-image: url(img/color.png);
    height: 500px;
    object-fit: cover;
}
.contaimg{
    width: 600px;
     border-radius: 8px;
    height: 300px;
    object-fit: cover;
}
.mainco {
    background-color: black;
color: white;
padding: 10px;
}
.bagimg{ background-image: url(img/bg\ img.jpg);}

.bgggimg{
    background-image: url(img/color.png);
}

.mainhead {
color: black;
font-style:Permanet-Marker ;
text-align: center;
justify-content: center;}
 
.head{color: black;}





